body {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(196,217,230,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  min-width: 480px;
}

body > header {
  position: relative;
  background: #fff;
  min-height: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 20px;
}

body > header h1 {
  display: flex;
}

body > header h1 img {
  width: 40px;
  height: 40px;
}

body > header *:first-child {
  justify-self: start;
  align-self: center;
}

body > header *:last-child {
  justify-self: end;
  align-self: center;
}

body > header form input {
  height: 25px;
  border-radius: 6px;
  border: 1px solid #000;
  padding: 0 16px;
  color: #000;
  background-color: #fff;
  font-size: 14px;
  width: 125px;
}

body > header form button {
  border: 1px solid #000;
  height: 25px;
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
}

body > section {
  max-width: 1280px;
  margin: 0 20px;
}

section > section > div {
  display: grid;
  grid-template-columns: 50% 50%;
}

article > h2 {
  font-weight: normal;
  margin-top: 0;
  font-size: 20px;
}

article {
  background-color: white;
  text-align: center;
  padding: 24px;
  max-width: 210px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.data-value {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}